<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add Zone </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-gird>
    <ion-row class="p-3">
      <ion-col class="p-3">
        <form >
          <ion-label position="float">Add Zone</ion-label>
          <ion-input name="zone" ngModel class="bg-secondary text-dark"></ion-input>
        </form>
      </ion-col>
    </ion-row>
  </ion-gird>
</ion-content>
