<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/tabs/notification"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isLoading">Loading...</ion-title>
    <ion-title *ngIf="!isLoading">{{user.yourName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-card class="bg-light">
          <ion-card-header> {{notification.date | date}} </ion-card-header>
          <ion-card-content>{{notification.message}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="reply">
      <ion-col>
        <form (ngSubmit)="submitForm(form)" #form="ngForm">
          <ion-textarea
            rows="5"
            ngModel
            name="replyMessage"
            required
            placeholder="Enter Reply"
            class="bg-light mb-2"
          ></ion-textarea>

          <ion-button type="submit" expand="block" color="primary"
            >Submit</ion-button
          >
        </form>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!notification.reply && !reply" [(ngModel)]="reply">
      <ion-col>
        <ion-button
          type="button"
          expand="block"
          color="primary"
          (click)="changeReplyMode()"
          >Reply</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
